:root {
  --hero-background: #ffb8ca;
  --section-background: #fff5f6;
  --section-alt-background: #ffffff;
  --accent-color: #d41443;
  --label-title-color: #ffa5ba;
  --slider-background: #fafafa;
  --review-decoration: #e1e1e1;
  --pagination-color: #d9d9d9;
  --footer-accent: #fea5bb;
  --ice-coffe-color: #f0d1a5;
  --milkshakes-color: #c2e297;
  --about-paragraph-color: #907e82;
  --dark-color: #000000;
  --logo-title-font: 'Titan One', cursive;
  --main-font: 'DM Sans', sans-serif;
}
