:root {
    --hero-background: #FFB8CA;
    --section-background: #FFF5F6;
    --accent-color: #D41443;
    --label-title-color: #FFA5BA;
    --slider-background: #FAFAFA;
    --review-decoration: #E1E1E1;
    --pagination-color: #D9D9D9;
    --footer-accent: #FEA5BB;
    --ice-coffe-color: #F0D1A5;
    --milkshakes-color: #C2E297;
    --dark-color: #000000;
    --logo-title-font: 'Titan One', cursive;
    --main-font: 'DM Sans', sans-serif;
}