<section class="customers-review" id="customers-review">
    
    <div class="container">
        <!-- Slider main container -->
        <div class=" swiper-container">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Slides -->
                <div class="swiper-slide">

                    <!-- Content inside slide -->
                    <img src="./images/faces/face-1.png" alt="" class="image-slider__image">
                    <div class="slider-text-wrapper">
                        <p class="slider-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eaque, at facere animi, vero dolorem, dicta rem laborum corrupti sint harum officiis tempore explicabo fugiat corporis modi omnis ut perspiciatis?</p>
                    </div>
                    <p class="slider-customer">Emily, Los Angeles</p>
                </div>

                <div class="swiper-slide">
                    <!-- Content inside slide -->
                    <img src="./images/faces/face-2.png" alt="" class="image-slider__image">
                    <div class="slider-text-wrapper">
                        <p class="slider-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quidem. Debitis vero inventore autem quas, dolor earum explicabo iste ipsa sapiente. Possimus asperiores accusantium laboriosam nobis, numquam non corporis sapiente.</p>
                    </div>
                    <p class="slider-customer">Naomi, Los Miami</p>
                </div>

                <div class="swiper-slide">
                    <!-- Content inside slide -->
                    <img src="./images/faces/face-3.png" alt="" class="image-slider__image">
                    <div class="slider-text-wrapper">
                        <p class="slider-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vel possimus ipsum nihil iusto ipsa architecto consequuntur ullam, necessitatibus dolorum earum natus itaque odio eveniet exercitationem eum? Expedita, aliquam velit?</p>
                    </div>
                    <p class="slider-customer">Alice, Chicago</p>
                </div>
            </div>
            
            <div class="swiper-pagination"></div>  
        </div>  
        

    </div>

</section>