<section class="header">
  <div class="container">
  
    <nav class="main-nav">

      <a class="logo" href="./index.html"></a>
    
      <ul class="nav-list list">
        <li class="item">
          <a class="link current">Home</a>
        </li>
    
        <li class="item">
          <a class="link">About us</a>
        </li>
    
        <li class="item">
          <a class="link">How it’s made?</a>
        </li>
    
        <li class="item">
          <a class="link">Our products</a>
        </li>
    
        <li class="item">
          <a class="link">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn" type="button" data-menu-button>
      <svg class="burger-icon">
        <use href="./images/sprite.svg#burger-icon"></use>
      </svg>
    </button>

    <button class="button buy-btn" type="button">Buy now
      <svg class="buy-btn-icon" width="5" height="8">
        <use href="./images/sprite.svg#icon-arrow"> </use>
      </svg>
    </button>
</section>