<section class="hero">
  <div class="container">
<h1 class="hero-title animate__tada">
  ice cream made with <span class="element">passion</span>
</h1>
<ul class="number-list list animate__tada">
  <li class="item">
    <span class="number">16</span>
    <p>cafes</p>
  </li>
  <li class="item">
    <span class="number">23</span>
    <p>foodtrucks</p>
  </li>
</ul>
<ul class="button-list list animate__tada">
  <li class="item">
    <a href="#products" class="button anchor-btn second">Products</button></a>
  </li>
  <li class="item">
    <a href="#about" class="button anchor-btn">How it’s made?</class=></a>
  </li>
</ul>
<p class="description animate__tada">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et
</p>
<button type="button" class="arrow-button more-button animate__tada">
  <svg class="arrow-button__icon" width="7" height="6">
    <use href="./images/sprite.svg#icon-arrow-right"></use>
  </svg>
</button>
<picture>
  <source srcset="./images/desktop/hero-icecream-desktop.webp 1x, 
                            ./images/desktop/hero-icecream-desktop@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
  <source srcset="./images/desktop/hero-icecream-desktop.png 1x, 
                            ./images/desktop/hero-icecream-desktop@2x.png 2x" media="(min-width: 1280px)">
  <source srcset="./images/tablet/hero-icecream-tablet.webp 1x, 
                              ./images/tablet/hero-icecream-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
  <source srcset="./images/tablet/hero-icecream-tablet.png 1x, 
                              ./images/tablet/hero-icecream-tablet@2x.png 2x" media="(min-width: 768px)">
  <source srcset="./images/mobile/hero-icecream-mobile.webp 1x, 
                            ./images/mobile/hero-icecream-mobile@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
  <source srcset="./images/mobile/hero-icecream-mobile.png 1x, 
                            ./images/mobile/hero-icecream-mobile@2x.png 2x" media="(min-width: 320px)">
  <img src="./images/mobile/hero-icecream-mobile.png" alt="ice-cream" class="ice-cream-img animate__tada">
</picture>
<picture>
  <source srcset="./images/desktop/hero-milk-desktop.webp 1x, 
                            ./images/desktop/hero-milk-desktop@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
  <source srcset="./images/desktop/hero-milk-desktop.png 1x, 
                            ./images/desktop/hero-milk-desktop@2x.png 2x" media="(min-width: 1280px)">
  <source srcset="./images/tablet/hero-milk-tablet.webp 1x, 
                              ./images/tablet/hero-milk-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
  <source srcset="./images/tablet/hero-milk-tablet.png 1x, 
                              ./images/tablet/hero-milk-tablet@2x.png 2x" media="(min-width: 768px)">
  <img src="./images/tablet/hero-milk-tablet.png" alt="milk" class="milk-img animate__tada">
</picture>
<picture>
  <source srcset="./images/desktop/hero-girl-desktop.webp 1x, 
                            ./images/desktop/hero-girl-desktop@2x.webp 2x" media="(min-width: 1280px)"
    type="image/webp">
  <source srcset="./images/desktop/hero-girl-desktop.png 1x, 
                            ./images/desktop/hero-girl-desktop@2x.png 2x" media="(min-width: 1280px)">
  <source srcset="./images/tablet/hero-girl-tablet.webp 1x, 
                              ./images/tablet/hero-girl-tablet@2x.webp 2x" media="(min-width: 768px)"
    type="image/webp">
  <source srcset="./images/tablet/hero-girl-tablet.png 1x, 
                              ./images/tablet/hero-girl-tablet@2x.png 2x" media="(min-width: 768px)">
  <img src="./images/tablet/hero-girl-tablet.png" alt="girl-with-ice" class="girl-img animate__tada">
</picture>
<picture>
  <source srcset="./images/desktop/hero-ellipse-desktop.webp 1x, 
                            ./images/desktop/hero-ellipse-desktop@2x.webp 2x" media="(min-width: 1280px)"
    type="image/webp">
  <source srcset="./images/desktop/hero-ellipse-desktop.png 1x, 
                            ./images/desktop/hero-ellipse-desktop@2x.png 2x" media="(min-width: 1280px)">
  <source srcset="./images/tablet/hero-ellipse-tablet.webp 1x, 
                              ./images/tablet/hero-ellipse-tablet@2x.webp 2x" media="(min-width: 768px)"
    type="image/webp">
  <source srcset="./images/tablet/hero-ellipse-tablet.png 1x, 
                              ./images/tablet/hero-ellipse-tablet@2x.png 2x" media="(min-width: 768px)">
  <source srcset="./images/mobile/hero-ellipse-mobile.webp 1x, 
                            ./images/mobile/hero-ellipse-mobile@2x.webp 2x" media="(min-width: 320px)"
    type="image/webp">
  <source srcset="./images/mobile/hero-ellipse-mobile.png 1x, 
                            ./images/mobile/hero-ellipse-mobile@2x.png 2x" media="(min-width: 320px)">
  <img src="./images/mobile/hero-ellipse-mobile.png" alt="ellipse" class="ellipse-img animate__tada">
</picture>
  </div>
</section>
