<section class="hero-header">
 
    <header class="header">
      <div class="container">
        <a class="logo" href="./index.html"></a>
        <button class="burger-btn" type="button" data-menu-button>
          <svg class="logo-icon" width="20" height="12">
            <use href="./images/sprite.svg#burger-icon"></use>
          </svg>
        </button>
      
        <nav class="navigation">

          <ul class="nav-list list">
            <li class="nav-item"> 
              <a class="nav-link link">Home</a>
            </li>

            <li class="nav-item"> 
              <a class="nav-link link">About us</a>
            </li>

            <li class="nav-item"> 
              <a class="nav-link link">How it’s made?</a>
            </li>

            <li class="nav-item"> 
              <a class="nav-link link">Our products</a>
            </li>

            <li class="nav-item"> 
              <a class="nav-link link">Contact</a>
            </li>  
          </ul>
        </nav>

        <button class="button buy-btn" type="button">Buy now
          <svg class="buy-btn-icon" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"> </use>
          </svg>
        </button> 

        <div class="mobile-menu" data-menu>
      
          <button class="mobile-menu-close" type="button" data-menu-close>
            <svg class="mobile-menu-close-icon" width="14" height="14">
              <use href="./images/sprite.svg#close-icon"> </use>
            </svg>
          </button>
      
          <button class="mobile-buy-btn button" type="button">Buy now
            <svg class="buy-btn-icon" width="5" height="8">
              <use href="./images/sprite.svg#icon-arrow"> </use>
            </svg>
          </button>
          
          <nav class="mobile-navigation">
            <ul class="mobile-nav-list list">
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">Home</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">About us</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">How it’s made?</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">Our products</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">Contact</a>
              </li>
            </ul>
      
          </nav>

        </div>
      </div>
      </header>

      <div class="container">
      <div class="elipse">
         <div class="hero-wraper">
          <h1 class="hero-header-title">ice cream <br> made with <span class="element">passion</span></h1>
    
          <ul class="recipe-btn-list list">
            <li>
              <button class="anchor-btn" type="button">Products</button>
            </li>
        
            <li>
              <button class="anchor-btn second" type="button">How it’s made?</button>
            </li>
          </ul>
        </div>
      </div>

      
     
  </div>  
  
  
    
  </div>
</section>

<script src="./js/modal-menu.js"></script>