<section class="hero">
    <div class="container">
        <h1 class="hero-title">ice cream made with <span class="element">passion</span></h1>
        <ul class="number-list list">
          <li class="item"><span class="number">16</span>
            <p>cafes</p>
          </li>
          <li class="item"><span class="number">23</span>
            <p>foodtrucks</p>
          </li>
        </ul>
        <ul class="button-list list">
          <li class="item">
            <button type="button" class="button anchor-btn second">Products</button>
          </li>
          <li class="item">
            <button type="button" class="button anchor-btn">How it’s made?</button>
          </li>
      </ul>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <a class="more-button" href="#">
        <svg class="more-button-icon">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
</section>