        <div class="mobile-menu" data-menu>
          <button class="mobile-menu-close" type="button" data-menu-close>
            <svg class="mobile-menu-close-icon" width="14" height="14">
              <use href="./images/sprite.svg#close-icon"> </use>
            </svg>
          </button>
      
          <button class="mobile-buy-btn button modal-btn" type="button">Buy now
            <svg class="buy-btn-icon" width="5" height="8">
              <use href="./images/sprite.svg#icon-arrow"> </use>
            </svg>
          </button>
          
          <nav class="mobile-navigation">
            <ul class="mobile-nav-list list">
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link current" href="#">Home</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">About us</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">How it’s made?</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">Our products</a>
              </li>
               
              <li class="mobile-nav-item">
                <a class="mobile-nav-link link" href="#">Contact</a>
              </li>
            </ul>
      
          </nav>

        </div>   
