<section class="products">
    <div class="container">
        <p class="section-subtitle">100% Natural</p>
        <h2 class="section-title">Products</h2>
        <ul class="list products-list">
            <li class="product-item product-icecream">
                <div class="image-absolute">
                    <picture>
                        <source srcset="./images/desktop/product-1-desktop.png 1x, ./images/desktop/product-1-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/desktop/product-1-desktop.webp 1x, ./images/desktop/product-1-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/tablet/product-1-tablet.png 1x, ./images/tablet/product-1-tablet@2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/tablet/product-1-tablet.webp 1x, ./images/tablet/product-1-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/mobile/product-1-mobile@2x.png 2x" media="(min-width: 320px)">
                        <source srcset="./images/mobile/product-1-mobile.webp 1x, ./images/mobile/product-1-mobile@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <img src="./images/mobile/product-1-mobile.png" alt="Ice-cream picture">
                    </picture>
                </div>
                    <h3 class="product-title">Ice Cream</h3>
                    <svg class="dots" width="26" height="6">
                        <use href="./images/sprite.svg#icon-dots"></use>
                    </svg>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="text-visible">. dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="arrow-button">
                        <svg class="arrow-button__icon" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
            </li>
            <li class="product-item product-icecoffee">
                <div class="image-absolute">
                    <picture>
                        <source srcset="./images/desktop/product-2-desktop.png 1x, ./images/desktop/product-2-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/desktop/product-2-desktop.webp 1x, ./images/desktop/product-2-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/tablet/product-2-tablet.png 1x, ./images/tablet/product-2-tablet@2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/tablet/product-2-tablet.webp 1x, ./images/tablet/product-2-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/mobile/product-2-mobile@2x.png 2x" media="(min-width: 320px)">
                        <source srcset="./images/mobile/product-2-mobile.webp 1x, ./images/mobile/product-2-mobile@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <img src="./images/mobile/product-2-mobile.png" alt="Ice-coffee picture">
                    </picture>
                </div>
                    <h3 class="product-title">Ice Coffee</h3>
                    <svg class="dots" width="26" height="6">
                        <use href="./images/sprite.svg#icon-dots"></use>
                    </svg>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="text-visible">. dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="arrow-button">
                        <svg class="arrow-button__icon" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
            </li>
            <li class="product-item product-milkshakes">
                <div class="image-absolute">
                    <picture>
                        <source srcset="./images/desktop/product-3-desktop.png 1x, ./images/desktop/product-3-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/desktop/product-3-desktop.webp 1x, ./images/desktop/product-3-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/tablet/product-3-tablet.png 1x, ./images/tablet/product-3-tablet@2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/tablet/product-3-tablet.webp 1x, ./images/tablet/product-3-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/mobile/product-3-mobile@2x.png 2x" media="(min-width: 320px)">
                        <source srcset="./images/mobile/product-3-mobile.webp 1x, ./images/mobile/product-3-mobile@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <img src="./images/mobile/product-3-mobile.png" alt="Milkshake picture">
                    </picture>
                </div>
                    <h3 class="product-title">Milkshakes</h3>
                    <svg class="dots" width="26" height="6">
                        <use href="./images/sprite.svg#icon-dots"></use>
                    </svg>
                    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="text-visible">. dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="arrow-button">
                        <svg class="arrow-button__icon" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
            </li>
        </ul>
    </div>
</section>