<section>
    <div class="container">
        <p>100% Natural</p>
        <h2>Products</h2>
        <ul>
            <li>
                <div>
                    <picture>
                        <source srcset="./images/desktop/product-1-desktop.png 1x, ./images/desktop/product-1-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/desktop/product-1-desktop.webp 1x, ./images/desktop/product-1-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/tablet/product-1-tablet.png 1x, ./images/tablet/product-1-tablet@2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/tablet/product-1-tablet.webp 1x, ./images/tablet/product-1-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/mobile/product-1-mobile@2x.png 2x" media="(min-width: 320px)">
                        <source srcset="./images/mobile/product-1-mobile.webp 1x, ./images/mobile/product-1-mobile@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <img src="./images/mobile/product-1-mobile.png" alt="Ice-cream picture">
                    </picture>
                    <h3>Ice Cream</h3>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button>
                        <svg>
                            <use></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source srcset="./images/desktop/product-2-desktop.png 1x, ./images/desktop/product-2-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/desktop/product-2-desktop.webp 1x, ./images/desktop/product-2-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/tablet/product-2-tablet.png 1x, ./images/tablet/product-2-tablet@2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/tablet/product-2-tablet.webp 1x, ./images/tablet/product-2-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/mobile/product-2-mobile@2x.png 2x" media="(min-width: 320px)">
                        <source srcset="./images/mobile/product-2-mobile.webp 1x, ./images/mobile/product-2-mobile@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <img src="./images/mobile/product-2-mobile.png" alt="Ice-coffee picture">
                    </picture>
                    <h3>Ice Coffee</h3>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button>
                        <svg>
                            <use></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source srcset="./images/desktop/product-3-desktop.png 1x, ./images/desktop/product-3-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/desktop/product-3-desktop.webp 1x, ./images/desktop/product-3-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/tablet/product-3-tablet.png 1x, ./images/tablet/product-3-tablet@2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/tablet/product-3-tablet.webp 1x, ./images/tablet/product-3-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/mobile/product-3-mobile@2x.png 2x" media="(min-width: 320px)">
                        <source srcset="./images/mobile/product-3-mobile.webp 1x, ./images/mobile/product-3-mobile@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <img src="./images/mobile/product-3-mobile.png" alt="Milkshake picture">
                    </picture>
                    <h3>Milkshakes</h3>
                    <svg>
                        <use></use>
                    </svg>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <button>
                        <svg>
                            <use></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>